@import 'colors'
@import 'variables'
$primary: $darkgray-dark
html, body
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  flex: 1
  font-family: Source Sans Pro
  color: $primary
  transition: $transition
  overflow: auto
.flex-column
  display: flex
  flex-direction: column
.flex-row
  display: flex
  flex-direction: row
.fill
  flex: 1
.flex-center-align
  align-items: center
.flex-center
  justify-content: center
  align-items: center
.flex-flow
  flex-wrap: wrap
h1, h2, h3, h4, h5, h6
  font-weight: 200
  line-height: 1.4em !important
  color: $primary
.error
  font-size: 3em
  .pt-icon-standard
    font-size: 1em
.animated
  animation-duration: 0.3s
.border-left
  border-left: $default-border
.border-right
  border-right: $default-border
.border-bottom
  border-bottom: $default-border
.border-top
  border-top: $default-border
.border
  border: $default-border
.padding-5
  padding: 5px
.padding-8
  padding: 8px
.italics
  font-style: italic
.gray-text
  color: $mediumgray-dark
.truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
.space-left
  margin-left: 5px
.space-right
  margin-right: 5px
.space-top
  margin-top: 5px
@for $i from 1 through 12
  .flex-#{$i}
    flex: #{$i}
li
  line-height: 1.5em

.spectacle-content
  width: 1280px !important
  height: 800px !important

ul > ul > li
  margin-left: 40px
a
  text-decoration: none
  color: $primary
.margin-right-18
  margin-right: 18px
.round
  border-radius: 6px
li
  a
    text-decoration: underline
.image
  img
    max-width: 160px
    max-height: 160px
    border-radius: 4px
    margin-bottom: 6px
  border: $default-border
  min-width: 172px
  min-height: 210px
  border-radius: 4px
  margin: 8px
  padding: 6px
.field
  border: $default-border